/* UN color scheme */
body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */

}

body {
    transition: background-color 0.3s, color 0.3s;
}

.container, .card-header, button, a {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

h1 {
    font-size: 28px;
    color: #0073cf;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container {
    padding-top: 10px;
    max-width: max-content-width;
}

button {
    background-color: #e9e9ed;
    color: black;
    border: 1px solid #0d0d0d;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 75%;
}

button:hover {
    background-color: #c7c9ce;
    color: #cc0099;
    border-color: #0d0d0d;
    text-decoration: none;
}

.treaty-body-container {
    background-color: #fff;
    height: 120px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

a {
    color: #0073cf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dark-mode-toggle {
    position: initial;
    margin: 5px;
    top: 5px;
    z-index: 1000;
    cursor: pointer;
    font-size: 24px; /* Icon size */
    color: #333; /* Default icon color */
}

/* Dark mode toggle icon styles */
#dark-mode-toggle i {
    position: initial;
    margin: 5px;
    top: 5px;
    z-index: 1000;
    cursor: pointer;
    font-size: 24px; /* Icon size */
    color: #333; /* Default icon color */
}

/* Change icon color to white when dark mode is active */
body.dark-mode #dark-mode-toggle i.dark-mode-active {
    color: #cc0099; /* Secondary color */
}

/* Dark mode specific styles */
body.dark-mode {
    background-color: #424242;
    color: #f9f9f9;
}

body.dark-mode h1,
body.dark-mode a,
body.dark-mode button,
body.dark-mode .dark-mode-toggle {
    color: #f9f9f9; /* Light color for contrast in dark mode */
}

body.dark-mode .container {
    border-color: #424242;
}

body.dark-mode .treaty-body-container {
    background-color: #555555; /* Dark border for containers in dark mode */
}

body.dark-mode button {
    color: #cc0099;
    font-weight: bold; /* Making the text bold in dark mode */
}

/* Style for the hamburger icon in dark mode */
body.dark-mode .navbar-toggler-icon {
    color: #f9f9f9; /* Light color for contrast in dark mode */
}

/* Style for the select box when it is in focus in dark mode */
body.dark-mode select:focus {
    background-color: #555; /* Keep the darker background */
    color: #f9f9f9; /* Light text */
    outline: none; /* Optional: remove the default focus outline */
}

/* Style for the select box generally in dark mode */
body.dark-mode select {
    background-color: #555; /* Dark background */
    color: #f9f9f9; /* Light text */
}

/* Style for the selected option in dark mode */
body.dark-mode select option.selected {
    color: #f9f9f9; /* Light text for better contrast */
}

/* Navbar Styles */
.navbar {
    position: fixed; /* Make navbar fixed */
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure it's above other elements */
    border-bottom: 1px solid #e0e0e0; /* You may adjust the color */
    opacity: 0.95;
}

.navbar .dropdown-menu {
    background-color: #f9f9f9; /* Match the body background color */
    border: 1px solid #e0e0e0; /* You may adjust the color */
}

.navbar.navbar-light, .navbar-brand,
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #333; /* Match the text color */
    font-weight: normal;
}

/* More specific hover effect for navbar links */
.navbar-light .navbar-brand:hover {
    color: #0073cf; /* Change to the desired hover color */
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #0073cf; /* Change to the desired hover color */
}

.navbar-toggler {
    /* Remove custom hamburger icon styles */
    padding: .25rem .5rem;
    border: none;
    font-size: 1rem;
}

/* Use FontAwesome for hamburger icon */
.navbar-toggler::before {
    display: None;
    content: '\f0c9'; /* FontAwesome bars icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/* Change the toggler icon when navbar is expanded */
.navbar-toggler.collapsed::before {
    content: '\f0c9'; /* Keep bars icon when collapsed */
}

/* Additional styles for navbar-brand */
.navbar-brand {
    font-size: 18px; /* Adjust the font size */
    white-space: normal; /* Allow text wrapping */
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: 25px;
  }

/* Smooth transition for navbar collapse */
.navbar-collapse.collapsing {
    height: auto;
    transition: max-height 0.1s ease;
}

/* Dark Mode Navbar Styles */
body.dark-mode .navbar {
    background-color: #333 !important; /* Dark background for navbar in dark mode */
    border-color: #616161; /* Dark border for navbar in dark mode */
}

body.dark-mode .navbar .navbar-brand,
body.dark-mode .navbar .navbar-nav .nav-item .nav-link {
    color: #f9f9f9; /* Light color for contrast in dark mode */
}

/* Hover effect for navbar links in dark mode */
body.dark-mode .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #cc0099; /* Change to the desired hover color for dark mode */
}

body.dark-mode .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23f9f9f9' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ensure navbar is not overlapping the content */
body {
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
}


/* Small screens */
@media (max-width: 991px) {
    h1 {
        font-size: 24px;
    }

    .container {
        padding: 20px;
        margin: 0px;
    }

    button, select, input[type="text"] {
        font-size: 14px;
    }

    /* Ensure the body content starts below the navbar */
    body {
        padding-top: 70px; /* Adjust based on the actual height of your navbar */
    }

    .navbar-nav {
        flex-direction: column; /* Stack the links vertically */
    }

    .navbar-nav .nav-item {
        display: none; /* Hide the nav items initially */
    }

    .navbar-nav .nav-item.show {
        display: block; /* Show nav items when toggler is clicked */
        text-align: center;
    }

    .navbar-collapse.show .nav-item {
        display: block; /* Ensure items are shown when navbar is expanded */
        text-align: left;
    }

    .navbar-expand-lg .navbar-collapse {
        display: block; /* Ensure items are shown when navbar is expanded */
    }

    .navbar .dark-mode-and-toggler,
    .navbar .navbar-brand {
        flex-grow: 1;
        text-align: center;
    }

    .navbar .navbar-toggler {
        flex-grow: 0;
        margin-right: 5px; /* Adjust margin as needed */
    }

    .navbar .dark-mode-toggle {
        position: static; /* Override the fixed positioning on small screens */
    }

    /* Navbar brand text smaller */
    .navbar-brand {
        font-size: 15px; /* Or any other size you prefer */
        text-align: center;
    }
}

/* UN color scheme */
body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

h1 {
    color: #0073cf;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p, .result-subitem {
    margin-bottom: 20px;
}

.card {
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    border-radius: 5px;
}

.card-header {
    position: relative;
    background-color: #f4f5f7;
    color: #333;
    font-weight: bolder;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.result-item {
    padding: 15px;
    padding-right: 40px;
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
    position: relative;
}

.result-item:nth-child(odd) {
    background-color: #f9f9f9;
}

.result-item:nth-child(even) {
    background-color: #ffffff;
}

a, .card-link {
    color: #0073cf;
    text-decoration: none;
    background-color: transparent;
}

.card-link {
    color: #0073cf; /* Override for .card-link if different color is needed */
}

.card-link:hover {
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.export-btn, .analytics-toggle-button {
    border: 1px solid #0d0d0d;
    background-color: #e9e9ed;
    color: #0d0d0d;
    font-size: 75%;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    text-transform: uppercase;
    margin: 0 5px;
}

.export-btn:hover {
    background-color: #c7c9ce;
    color: #cc0099;
    border-color: #0d0d0d;
    text-decoration: none;
}

.copy-btn, .link-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: #0073cf;
    transition: color 0.2s;
}

.copy-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.copy-btn:hover, .link-icon:hover {
    color: #0055a3;
}

.copy-tooltip {
    display: none;
    position: absolute;
    top: -30px;
    right: 0;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    white-space: nowrap;
}

.highlight {
    background-color: lightskyblue;
}

.paragraph-text {
    white-space: pre-wrap; /* This will allow the <br> tags to create line breaks */
}

select.form-control {
    height: 120px;
}

.dark-mode-toggle {
    position: initial;
    margin: 5px;
    top: 5px;
    z-index: 1000;
    cursor: pointer;
    font-size: 24px; /* Icon size */
    color: #333; /* Default icon color */
}

/* Dark mode toggle icon styles */
#dark-mode-toggle i {
    position: initial;
    margin: 5px;
    top: 5px;
    z-index: 1000;
    cursor: pointer;
    font-size: 24px; /* Icon size */
    color: #333; /* Default icon color */
}

/* Change icon color to white when dark mode is active */
body.dark-mode #dark-mode-toggle i.dark-mode-active {
    color: #cc0099; /* Secondary color */
}

/* Dark mode specific styles */
body.dark-mode {
    background-color: #333;
    color: #f9f9f9;
}

body.dark-mode .result-item,
body.dark-mode .result-item.bg-light,
body.dark-mode h1,
body.dark-mode a,
body.dark-mode .card,
body.dark-mode .card-header,
body.dark-mode .result-item,
body.dark-mode .copy-btn {
    color: #f9f9f9;
}

body.dark-mode .link-icon,
body.dark-mode .dark-mode-toggle .fas {
    color: #f9f9f9;
}

body.dark-mode .export-btn {
    color: #333333;
}

body.dark-mode .result-item,
body.dark-mode .result-item.bg-light {
    background-color: #424242 !important; /* Set the background color for all items in dark mode and elements with .bg-light */
    color: #f9f9f9;
    border-color: #616161;
}

body.dark-mode button:hover,
body.dark-mode .export-btn:hover,
body.dark-mode .analytics-toggle-button:hover {
    color: #cc0099; /* Set the text color to pink when hovering over buttons in dark mode */
}

body.dark-mode .form-control {
    background-color: #555555; /* Dark background */
    color: #f9f9f9; /* Light text */
}

/* Dark mode placeholder text color */
body.dark-mode .form-control::placeholder {
    color: #ffffff; /* Replace with your desired light mode color */
}

/* Custom container styles */
.my-custom-container {
    position: relative;
    max-width: none !important;
    width: 90%;
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

/* Adjustments for small screens */
@media (max-width: 576px) {
    .export-btn, .analytics-toggle-button {
        font-size: 0.65rem; /* Smaller font size */
        padding: 0.4rem 1rem; /* Smaller padding */
        margin: 0 3px; /* Adjust margin as needed */
    }

    .my-custom-container {
            width: 95% !important; /* Adjust the width to 98% */
            padding-right: 2px;
            padding-left: 2px;
            margin-right: auto;
            margin-left: auto;
            box-sizing: border-box;
        }
    }

    .export-btn:hover, .analytics-toggle-button:hover {
        background-color: #c7c9ce;
        color: #cc0099;
        border-color: #0d0d0d;
        text-decoration: none;
    }

    .analytics-toggle-button.active {
        background-color: #0d0d0d; /* Change color when active */
        color: #fff;
    }

    /* CSS for the analytics container */
    .analytics-container {
        overflow: hidden;
        transition: all 0.5s ease-out;
        height: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 2px;
    }

    /* Style when the analytics container is visible */
    .analytics-container.visible {
        height: auto; /* Adjust to the natural height of the content */
        opacity: 1;
        visibility: visible;
    }

    /* Analytics two-column layout */
    .analytics-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

.analytics-column {
    flex: 1; /* Each column takes equal width */
    padding: 10px; /* Padding for spacing */
    background-color: #e9e9ed;
    }

    /* Adjustments for smaller screens */
    @media (max-width: 768px) {
        .analytics-column {
            flex-basis: 100%; /* Full width on smaller screens */
        }
    }

    /* Adjustments for smaller screens */
@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: column; /* Stack the links vertically */
    }

    .navbar-nav .nav-item {
        display: none; /* Hide the nav items initially */
    }

    .navbar-nav .nav-item.show {
        display: block; /* Show nav items when toggler is clicked */
        text-align: center;
    }

    .navbar-collapse.show .nav-item {
        display: block; /* Ensure items are shown when navbar is expanded */
        text-align: left;
    }

    .navbar-expand-lg .navbar-collapse {
        display: block; /* Ensure items are shown when navbar is expanded */
    }

    .navbar .dark-mode-and-toggler,
    .navbar .navbar-brand {
        flex-grow: 1;
        text-align: center;
    }

    .navbar .navbar-toggler {
        flex-grow: 0;
        margin-right: 5px; /* Adjust margin as needed */
    }

    .navbar .dark-mode-toggle {
        position: static; /* Override the fixed positioning on small screens */
    }

    /* Navbar brand text smaller */
    .navbar-brand {
        font-size: 15px; /* Or any other size you prefer */
        text-align: center;
    }
}

/* Headers for analytics columns */
.analytics-header {
    font-size: 20px;
    color: #0073cf;
    margin-bottom: 10px;
}

    .highlight-dynamic {
        background-color: #cc0099;
        color: white;
    }

/* Dark mode specific styles */
body.dark-mode .analytics-header {
    color: #cc0099; /* Apply pink color to analytics headers in dark mode */
}

body.dark-mode .analytics-toggle-button {
    background-color: #dadbdf; /* Existing style */
    color: #424242; /* Existing style */
    border-color: #ffffff;
}

body.dark-mode .analytics-column {
    flex: 1; /* Each column takes equal width */
    padding: 10px; /* Padding for spacing */
    background-color: #424242;
}

body.dark-mode .card-header,
body.dark-mode .analytics-toggle-button.active {
    background-color: #424242; /* Existing style */
    color: #fff; /* Existing style */
}

body.dark-mode .card-link {
    background-color: #424242; /* Existing style */
}

body.dark-mode h1 {
    background-color: #333 !important; /* Existing style */
}

body.dark-mode .analytics-toggle-button.active {
    background-color: #cc0099; /* Existing style */
    color: #fff; /* Existing style */
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
}

#scrollToTopBtn:hover {
    background-color: #333; /* Add a dark-grey background on hover */
}

/* Dark mode specific styles */
body.dark-mode #scrollToTopBtn {
    background-color: #aaa; /* Lighter background for dark mode */
    color: #333; /* Dark text for light background */
}

body.dark-mode #scrollToTopBtn:hover {
    background-color: #888; /* Darker background for hover in dark mode */
}
