<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UN General Comments/Recommendations Browser</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-additional.css') }}">
    <title>About</title>
</head>
<style>
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="/">UN General Comments/Recommendations</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Other nav items -->
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/corpus_viewer.html">Browse full texts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://lszoszk.github.io/">Contact</a>
      </li>
      <!-- Dark mode toggle as a menu item -->
    <li class="nav-item">
        <a id="dark-mode-toggle" href="javascript:void(0);">
            <i class="fas fa-moon"></i>
        </a>
    </li>
    </ul>
  </div>
</nav>
    <div class="container">
<h2>About the database</h2>

<p><a href="https://zenodo.org/doi/10.5281/zenodo.10495719"><img src="https://zenodo.org/badge/741047917.svg" alt="DOI"></a></p>

<p>This is a dynamic web application designed to facilitate the exploration and analysis of the General Comments/Recommendations adopted by the UN Treaty Bodies. Built with Flask, the application provides a user-friendly interface for browsing, analyzing and exporting relevant information.</p>

<p><strong>Why general Comments/Recommendations?</strong> UN Treaty Bodies adopted over 150 General Comments/Recommendations. They provide an authoritative interpretation of international human rights treaties. Hitherto, there was no database allowing for a search within documents. This platform allows for intuitive searches within these documents.</p>

Features include:
<ul>
    <li>A robust search functionality that allows users to filter <strong>relevant paragraphs</strong> from the documents based on <strong>keyword</strong>, <strong>concerned groups/persons</strong> (e.g., children, women, indigenous peoples), and by the UN Treaty Bodies (e.g., Committee on the Rights of the Child, Committee on Economic, Social and Cultural Rights).</li>
    <li><strong>Advanced text processing capabilities</strong>, leveraging the Natural Language Toolkit (nltk) for word frequencies, bigram analysis, custom UN-related stopwords list, and <strong>search within search results functionality</strong>.</li>
    <li>An intuitive result highlighting mechanism that emphasizes search terms within the documents, improving readability and focus.</li>
    <li>An export feature allowing users to <strong>download Excel search results</strong> for offline analysis.</li>
    <li><strong>Responsive design</strong> that allows for a seamless experience across devices (<a href="https://getbootstrap.com/">bootstrap</a>).</li>
</ul>
<!-- Citation Snippet -->
<!-- Citation Snippet -->
<div id="citationSnippet">
    <p id="citationText">Szoszkiewicz, Ł. (2024). UN Treaty Bodies Documents Search (GitHub) (v0.1). GitHub. https://doi.org/10.5281/zenodo.10495720</p>
    <i class="fas fa-copy" onclick="copyCitation()"></i>
    <span id="copyTooltip" style="visibility: hidden; position: absolute; top: 30px; right: 10px; background: #616161; color: white; padding: 3px 6px; border-radius: 5px;">Copied!</span>
</div>
<script>
function copyCitation() {
    var citationText = document.getElementById("citationText").innerText;
    var textArea = document.createElement("textarea");
    textArea.value = citationText;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("copy");
    document.body.removeChild(textArea);

    // Show the tooltip with "Copied!" text
    var tooltip = document.getElementById("copyTooltip");
    tooltip.style.visibility = "visible";
    tooltip.style.display = "block"; // Make sure tooltip is displayed

    // Hide the tooltip after a few seconds
    setTimeout(function() {
        tooltip.style.visibility = "hidden";
        tooltip.style.display = "none"; // Hide tooltip again
    }, 2000); // Adjust the duration as needed
}

// Function to set dark mode preference
function setDarkModePreference(isDarkMode) {
    localStorage.setItem('darkMode', isDarkMode ? 'enabled' : 'disabled');
}

// Function to apply dark mode based on preference
function applyDarkModePreference() {
    const isDarkMode = localStorage.getItem('darkMode') === 'enabled';
    const darkModeToggle = document.getElementById("dark-mode-toggle");

    if (isDarkMode) {
        document.body.classList.add('dark-mode');
        darkModeToggle.querySelector('i').classList.replace("fa-moon", "fa-sun");
        darkModeToggle.querySelector('i').classList.add("dark-mode-active");
    } else {
        document.body.classList.remove('dark-mode');
        darkModeToggle.querySelector('i').classList.replace("fa-sun", "fa-moon");
        darkModeToggle.querySelector('i').classList.remove("dark-mode-active");
    }
}

// Check if the user has a preference and apply it
applyDarkModePreference();

function toggleDarkMode() {
    const body = document.body;
    const darkModeToggle = document.getElementById("dark-mode-toggle");
    body.classList.toggle("dark-mode");

    if (body.classList.contains("dark-mode")) {
        darkModeToggle.querySelector('i').classList.replace("fa-moon", "fa-sun");
        darkModeToggle.querySelector('i').classList.add("dark-mode-active");
        setDarkModePreference(true);
    } else {
        darkModeToggle.querySelector('i').classList.replace("fa-sun", "fa-moon");
        darkModeToggle.querySelector('i').classList.remove("dark-mode-active");
        setDarkModePreference(false);
    }
}

// Event listener for the dark mode toggle click
const darkModeToggle = document.getElementById("dark-mode-toggle");
if (darkModeToggle) {
    darkModeToggle.addEventListener("click", toggleDarkMode);
}

</script>
</body>
</html>