<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UN General Comments/Recommendations Browser</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VFCDZ89GWR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VFCDZ89GWR');
    </script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <style>
        .filter-btn {
            background-color: #74919a;
            border: 0;
            border-radius: 0; /* Sharp edges */
            color: white;
        }

        .filter-btn:focus {
            box-shadow: none;
        }

        .filter-btn:after {
            content: '\25BC'; /* Downward-pointing triangle */
            font-size: 0.8em;
            margin-left: 5px;
        }

        .search-btn {
            background-color: #74919a;
            border-color: #74919a;
            color: white;
        }

        .search-bar {
            flex-grow: 1; /* Makes the search bar take up the available space */
            margin-right: 5px; /* Adds space between search bar and button */
        }

        .filter-box {
            padding: 10px;
            margin-bottom: 10px;
        }

        .accordion .card-header {
            background-color: #f8f9fa;
            border-bottom: 0;
        }

        .accordion .card-body {
            font-size: 0.9em;
        }

        .author-year {
            font-size: 0.8em;
            color: #6c757d;
        }

    .search-icon {
        color: inherit; /* Initial color */
        z-index: 1020;
    }

    .search-icon:hover {
        color: #6c757d; /* Change to your preferred hover color */
        cursor: pointer;
        z-index: 1020;
    }
.highlight {
    background-color: #0073cf;
    color: white !important;
}
    .pagination {
        margin: 20px 0; /* Add some spacing around the pagination */
    }

    .pagination .page-link {
        color: #74919a; /* Your site's link color */
        background-color: #f8f9fa; /* Your site's background color for pagination */
    }

    .pagination .page-item.active .page-link {
        background-color: #0073cf; /* Active link background color */
        border-color: #0073cf; /* Active link border color */
    }

    .pagination .page-item.active .page-link:hover {
        background-color: #005ea2; /* Slightly darker blue on hover for active link */
    }

    .pagination .page-link:hover {
        background-color: #e9ecef; /* Slightly darker background on hover for links */
    }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="#">UN General Comments/Recommendations</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Other nav items -->
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/corpus_viewer.html">Browse full texts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://lszoszk.github.io/">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/neurorights_search">Neurorights</a>
      </li>
      <!-- Dark mode toggle as a menu item -->
    <li class="nav-item">
        <a id="dark-mode-toggle" href="javascript:void(0);">
            <i class="fas fa-moon"></i>
        </a>
    </li>
    </ul>
  </div>
</nav>

<div class="container mt-5 pt-4">
    <h2>Neurorights Observatory</h2>
    <p>Welcome to the Neurorights Observatory, a dedicated platform for exploring the evolving intersection of human rights and neurotechnology. This tool allows to search through the existing academic literature focused on the ethical, legal, and social implications of neuroscience advancements.</p>
<!-- Adjusted Search Form with Filters and Year Range Inputs -->
<form id="searchForm" onsubmit="event.preventDefault(); submitSearch();" class="mb-3">
    <div class="form-row align-items-center">
        <div class="col-sm-10">
            <!-- Adjusted for a larger column size -->
            <input type="text" id="yourSearchInputId" name="search_query" class="form-control mb-2" placeholder="Search through titles, abstracts, keywords, or authors" value="{{ search_query }}" style="width: 100%;">
        </div>
        <div class="col-sm-2">
            <!-- Adjusted for a smaller column size -->
            <button type="submit" class="btn search-btn mb-2" style="width: 100%;">Search</button>
        </div>
    </div>

    <!-- Filters Toggle Button -->
    <div class="mb-3">
        <button class="btn filter-btn mb-2" type="button" data-toggle="collapse" data-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
            Filters
        </button>
            <!-- "Expand all" Button -->
    <button class="btn filter-btn mb-2" type="button" id="expandAllButton">
        Expand All
    </button>
        <!-- "Analytics" Button -->
    <button class="btn filter-btn mb-2" type="button" data-toggle="collapse" data-target="#analyticsCollapse" aria-expanded="false" aria-controls="analyticsCollapse">
        Analytics
    </button>
    </div>

    <!-- Filters Collapse Content -->
    <div class="collapse" id="filtersCollapse">
        <div class="card card-body">
            <div class="row">
                <!-- Neurorights Filters -->
                <div class="col-md-3 filter-box">
                    <strong>Neurorights:</strong>
                    {% set filters = request.args.getlist('neurorights_filters') %}
                    <div><input type="checkbox" name="neurorights_filters" value="Mental privacy" {% if "Mental privacy" in filters %} checked {% endif %}> Mental privacy</div>
                    <div><input type="checkbox" name="neurorights_filters" value="Personal identity" {% if "Personal identity" in filters %} checked {% endif %}> Personal identity</div>
                    <div><input type="checkbox" name="neurorights_filters" value="Free will" {% if "Free will" in filters %} checked {% endif %}> Free will</div>
                    <div><input type="checkbox" name="neurorights_filters" value="Fair access to augmentation" {% if "Fair access to augmentation" in filters %} checked {% endif %}> Fair access to augmentation</div>
                    <div><input type="checkbox" name="neurorights_filters" value="Protection from bias" {% if "Protection from bias" in filters %} checked {% endif %}> Protection from bias</div>
                </div>

                <!-- Search Fields -->
                <div class="col-md-3 filter-box">
                    <strong>Search only in:</strong>
                        {% set search_fields = request.args.getlist('search_fields') %}
                        <div><input type="checkbox" name="search_fields" value="Title" {% if 'Title' in search_fields %} checked {% endif %}> Title</div>
                        <div><input type="checkbox" name="search_fields" value="Abstract" {% if 'Abstract' in search_fields %} checked {% endif %}> Abstract</div>
                        <div><input type="checkbox" name="search_fields" value="Keywords" {% if 'Keywords' in search_fields %} checked {% endif %}> Keywords</div>
                </div>

                <!-- Year Range Filters -->
                <div class="col-md-3 filter-box">
                    <strong>Years:</strong>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" name="year_start" class="form-control" placeholder="From year" min="1900" max="2099" value="{{ request.args.get('year_start', '') }}">
                        </div>
                        <div class="col">
                            <input type="number" name="year_end" class="form-control" placeholder="To year" min="1900" max="2099" value="{{ request.args.get('year_end', '') }}">
                        </div>
                    </div>
                </div>

                <!-- Open Access Filter -->
                <div class="col-md-3 filter-box">
                    <strong>Access:</strong>
                        <div><input type="checkbox" name="only_open_access" value="1" {% if request.args.get('only_open_access') %} checked {% endif %}> Only Open Access</div>                </div>
            </div>
        </div>
    </div>

        <!-- Analytics Container -->
    <div class="collapse" id="analyticsCollapse">
        <div class="card card-body">
            <p><strong>Most active authors:</strong> {{ top_authors }}</p>
            <p><strong>Most common keywords:</strong> {{ top_keywords }}</p>
            <p><strong>Most common collocations:</strong> {{ top_bigrams|join('; ') }}</p>
        </div>
    </div>
</form>

    {% if search_results %}
    <p><strong>Number of documents:</strong> {{ total_filtered_results }}</p>
        <!-- Rest of the code for displaying search results -->
    {% else %}
        <!-- Rest of the code for when there are no search results -->
    {% endif %}

    {% if search_results %}
    <div class="accordion" id="searchResultsAccordion">
        {% for item in search_results %}
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center id="heading{{ loop.index }}">
                    <a class="card-link stretched-link text-decoration-none text-dark" data-toggle="collapse" href="#collapse{{ loop.index }}">
                        {{ loop.index }}. {{ item['Title']|safe }}  <!-- Use the safe filter here -->
                        <span class="author-year ml-2">
                            {{ item.get('Year', 'Year Unknown') }} - {{ item.get('Authors', 'Author Unknown').split(';')[0] }}{% if item.get('Authors', '').count(';') > 0 %} et al.{% endif %}
                        </span>
                    </a>
                <!-- Search Icon for Google Search -->
                <a href="https://www.google.com/search?q={{ item.get('DOI', 'Unknown DOI')|urlencode }}" target="_blank" class="ml-2 search-icon">
                    <i class="fas fa-search"></i>
                </a>
                </div>

                <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#searchResultsAccordion">
                    <div class="card-body">
                        <p><strong>Abstract:</strong> {{ item['Abstract']|safe }}</p>  <!-- Use the safe filter here -->
                        <p><strong>Keywords:</strong> {{ item['Author Keywords']|safe }}</p>
                        <p><strong>Authors:</strong> {{ item.get('Authors', 'No authors listed') }}</p>
                        <p><strong>Source Title:</strong> {{ item.get('Source title', 'Unknown') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No results found for your search.</p>
        <p>Search query: {{ search_query }}</p>
        <p>Number of search results: {{ search_results|length }}</p>
    {% endif %}
</div>
<!-- Pagination -->
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Always show the first page -->
            <li class="page-item {% if current_page == 1 %}active{% endif %}">
                <a class="page-link" href="{{ url_for('neurorights_search', search_query=search_query, neurorights_filters=neurorights_filters, year_start=year_start, year_end=year_end, only_open_access=only_open_access, search_fields=search_fields, page=1) }}">1</a>
            </li>
            <!-- Show ellipsis if there are pages between the first page and current page - 2 -->
            {% if current_page > 3 %}
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            {% endif %}
            <!-- Show two pages before current page if they exist -->
            {% for page_num in range(current_page - 2, current_page) %}
                {% if page_num > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('neurorights_search', search_query=search_query, neurorights_filters=neurorights_filters, year_start=year_start, year_end=year_end, only_open_access=only_open_access, search_fields=search_fields, page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            <!-- Current page -->
            {% if current_page != 1 and current_page != total_pages %}
                <li class="page-item active"><a class="page-link" href="#">{{ current_page }}</a></li>
            {% endif %}
            <!-- Show two pages after current page if they exist -->
            {% for page_num in range(current_page + 1, current_page + 3) %}
                {% if page_num < total_pages %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('neurorights_search', search_query=search_query, neurorights_filters=neurorights_filters, year_start=year_start, year_end=year_end, only_open_access=only_open_access, search_fields=search_fields, page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            <!-- Show ellipsis if there are pages between current page + 2 and the last page -->
            {% if current_page < total_pages - 2 %}
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            {% endif %}
            <!-- Always show the last page -->
            {% if total_pages > 1 %}
                <li class="page-item {% if current_page == total_pages %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('neurorights_search', search_query=search_query, neurorights_filters=neurorights_filters, year_start=year_start, year_end=year_end, only_open_access=only_open_access, search_fields=search_fields, page=total_pages) }}">{{ total_pages }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/script-neurorights.js') }}"></script>
<script>
function submitSearch() {
    // First, clear any previous highlights
    document.querySelectorAll('.highlight').forEach((highlightedElement) => {
        // This assumes the highlight is applied as a class; adjust if it's done differently
        highlightedElement.classList.remove('highlight');

        // If the highlight style is applied directly, you might need to reset the relevant style properties instead
        // e.g., highlightedElement.style.backgroundColor = '';
        // e.g., highlightedElement.style.color = '';
    });
    // Encode the main search query
    let searchQuery = encodeURIComponent(document.getElementById('yourSearchInputId').value);

    // Initialize the base URL
    let formActionUrl = `/neurorights_search?search_query=${searchQuery}`;

    // Append neurorights filters if selected
    document.querySelectorAll('input[name="neurorights_filters"]:checked').forEach((checkbox) => {
        formActionUrl += `&neurorights_filters=${encodeURIComponent(checkbox.value)}`;
    });

    // Append search fields if selected
    document.querySelectorAll('input[name="search_fields"]:checked').forEach((checkbox) => {
        formActionUrl += `&search_fields=${encodeURIComponent(checkbox.value)}`;
    });

    // Append year range if provided
    const yearStart = document.querySelector('input[name="year_start"]').value;
    const yearEnd = document.querySelector('input[name="year_end"]').value;
    if (yearStart) {
        formActionUrl += `&year_start=${encodeURIComponent(yearStart)}`;
    }
    if (yearEnd) {
        formActionUrl += `&year_end=${encodeURIComponent(yearEnd)}`;
    }

    // Append the open access flag if checked
    if (document.querySelector('input[name="only_open_access"]:checked')) {
        formActionUrl += `&only_open_access=1`;
    }

    // Redirect the browser to the constructed URL
    window.location.href = formActionUrl;
}
// Function to toggle accordion expansion
document.getElementById('expandAllButton').addEventListener('click', function () {
    let accordionItems = document.querySelectorAll('.accordion .collapse');
    let allExpanded = true;
    accordionItems.forEach(function (item) {
        if (!item.classList.contains('show')) {
            allExpanded = false;
        }
    });

    accordionItems.forEach(function (item) {
        if (allExpanded) {
            new bootstrap.Collapse(item, { toggle: true });
        } else if (!item.classList.contains('show')) {
            new bootstrap.Collapse(item, { toggle: true });
        }
    });

    // Toggle button text
    this.textContent = allExpanded ? 'Expand All' : 'Collapse All';
});

</script>
</body>
</html>
